* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1103px;
}

.d-f {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


body {
    font-family: Playfair Display;
    font-weight: 900;
    background: rgba(255, 255, 255, 1);

}


header {
    padding-top: 18px;
}

h1 {
    font-family: Playfair Display;
    font-size: 59px;
    font-weight: 900;
    line-height: 71px;
    max-width: 489px;
    text-align: left;
    margin-bottom: 23px;
    margin-top: 58.09px;





}

nav ul {
    font-family: Raleway;
    list-style: none;
    display: flex;
    gap: 38px;




}



a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);

}

header .logo {
    font-family: Raleway;
    display: flex;
    align-items: center;






}

.logo img {
    max-width: 129px;
    max-height: 64.5px;
    margin-right: -25px;

}

.logo span {
    font-family: Raleway;
    font-size: 35px;
    font-weight: 900;
    line-height: 41px;
    color: rgba(0, 0, 0, 1);
    text-align: left;

}

nav li {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1.274999976158142px;

    color: rgba(0, 0, 0, 1);



}



nav li:not(:first-of-type):hover {
    border-bottom: 5px solid rgba(75, 168, 125, 1);
}


nav li:first-of-type::after {
    content: '';
    border-bottom: 5px solid rgba(75, 168, 125, 1);
    width: 100px;
    display: block;
    padding-top: 6px;



}






.sign {
    border: 3px solid #4ba87d;
    background: rgba(75, 168, 125, 1);

    color: rgba(255, 255, 255, 1);
    font-family: Raleway;
    font-size: 17px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 2.0999999046325684px;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;

}

.nav-link {
    display: flex;

    align-items: center;
    gap: 30px;

}

.white:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(75, 168, 125, 1);
}

.green:hover {
    background: rgba(75, 168, 125, 1);
    color: rgba(255, 255, 255, 1);


}




.stunning-email .container {
    background-image: url(./images/computer.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 481.19px;






}





.stunning-email p {
    font-family: Raleway;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    max-width: 459px;
    text-align: left;
    margin-bottom: 50px;



}

.try-now {
    border: 3px solid #4ba87d;
    background-color: rgba(75, 168, 125, 1);
    color: rgba(255, 255, 255, 1);

    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    text-align: center;

    padding: 19px 47px 21px 48px;
    text-transform: uppercase;
    margin-right: 45px;






}

.get-demo {
    border: 3px solid #4ba87d;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(75, 168, 125, 1);
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 2.0999999046325684px;
    text-align: center;
    padding: 19px 27px 21px 29px;
    text-transform: uppercase;



}





.customers {
    background: rgba(247, 247, 247, 1);
    height: 700px;
    position: relative;

}

.customers::before {
    content: "";
    background-image: url(./images/slash_black\ \(image\)\ \(4\)\ -\ Copy.png);
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    background-position: left;
    background-repeat: no-repeat;
    z-index: 999;
}

.main-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 61px;
    flex-direction: column;

    background-image: url(./images/video.png);
    background-position: center bottom;
    transform: translateY(35px);
    margin: 0 auto;

    width: 944px;
    height: 628px;


    background-repeat: no-repeat;
    position: relative;

    z-index: 5;


}



.customers h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-transform: capitalize;





}

.learn-how {
    border: 3px solid #4ba87d;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(75, 168, 125, 1);
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    text-align: center;
    text-transform: uppercase;
    padding: 19px 32px 21px;
    border: none;






}


















.mobil-cards {
    visibility: hidden;
    margin-top: -737px;
}

.Services .container {
    display: flex;
    align-items: center;

    background-image: url(./images/slash_white\ \(image\)\ \(3\).png);
    background-position: top right;
    gap: 47px;



}

.cards {

    display: flex;
    gap: 47px;



}

.Services {
    background: rgba(202, 234, 199, 1);
    height: 1059.87px;
    z-index: 4;
    clip-path: polygon(0 14%, 100% 0, 99% 75%, 0% 100%);
    position: relative;
    margin-top: -160px;






}



.card-img {

    position: relative;
    z-index: 1;
}

.launch {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    max-width: 251px;
    margin-bottom: 20px;

}

.start {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    max-width: 259px;
    margin-bottom: 20px;

}

.learn-more {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    color: #4ba87d;
    text-align: left;



}

.card-content {
    width: 320px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2;
    margin-top: -30px;


}

.card-one {
    margin-top: 260px;


}

.card-two {
    margin-top: 300px;

}

.card-one .card-content {
    padding: 24px 39px 52px 30px;


}

.card-two .card-content {
    padding: 22px 30px 63px 31px;
}

.compaigns h2 {
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    max-width: 365px;
    margin-bottom: 24px;


}

.compaigns p {
    font-family: Raleway;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 330px;

}

.compaigns {
    margin-top: 200px;

}


















.members .container .member-cards {
    display: flex;
    gap: 32px;


}

.members {
    margin-top: -100px;
    margin-bottom: 40px;
}

.year {
    background-repeat: no-repeat;
    padding: 41px 27px 20px;
    width: 342px;
    height: 239px;

}

.member-one {
    background-image: url(./images/Frankie_photo.png);
    position: relative;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;







}

.member-two {
    background-image: url(./images/Camile_photo.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;










}

.member-three {
    background-image: url(./images/Elayne_photo.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;





}

.member-cards h2 {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    text-align: left;


}

.member-cards span {
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: left;

}


.join-section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.join-section h2 {
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    max-width: 904px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -40px;


}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;

}

input {
    color: rgba(0, 0, 0, 1);
    font-family: Raleway;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    text-align: left;
    padding: 19px 219px 21px 25px;
    border: 1px solid rgba(159, 159, 159, 1);
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-right: 20px;
}

.join {
    background: rgba(75, 168, 125, 1);
    color: rgba(255, 255, 255, 1);
    padding: 19px 29px 21px 30px;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 93px;
    border: none;


}

input::placeholder {
    color: rgba(0, 0, 0, 1);

}

.join-section p {
    color: rgba(75, 168, 125, 1);
    font-family: Raleway;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    text-align: left;
    margin-right: 450px;
    margin-top: -85px;



}

.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.best-brands h2 {
    color: rgba(0, 0, 0, 1);
    max-width: 500px;
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 39px;


}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 39px;
    margin-bottom: 146px;


}

.flx-btwn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;


}

.choose-plan {
    background: rgba(75, 168, 125, 1);
    height: 366px;


}


.choose-plan h2 {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    padding-top: 82px;
    color: rgba(255, 255, 255, 1);


}

.pick {
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    text-align: center;
    color: rgba(75, 168, 125, 1);
    padding: 19px 30px 21px 33px;
    border: none;
    margin-bottom: 95px;





}




.navigation {
    display: flex;
    gap: 65px;

    margin-bottom: 74px;






}

.navigation ul li a {
    color: rgba(0, 0, 0, 1);

}



footer ul li {
    list-style: none;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 800;
    line-height: 22px;
    text-align: left;
    margin-bottom: 10px;






}

.flx-start {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 79px;
    flex-wrap: wrap;
    column-gap: 194px;
}

footer .logo {
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 900;
    line-height: 31px;
    text-align: left;

}









.informations {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 90px;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;

    border-top: 2px solid lightgray;

    padding: 39px 0 48px;




}



@media (max-width: 768px) {


    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .container {
        max-width: 700px;
    }

    .logo span {
        width: 102px;
        font-family: Raleway;
        font-size: 22px;
        font-weight: 900;
        line-height: 26px;





    }

    .logo img {
        max-width: 84px;
        margin-right: -10px;
    }


    nav ul li {

        font-family: Raleway;
        font-size: 11px;
        font-weight: 800;
        line-height: 13px;
        border-bottom: 4px solid rgba(75, 168, 125, 1);

        padding-bottom: 5px;

    }

    nav li:first-of-type::after {
        display: none;
    }

    .d-f {
        gap: 90px;
    }

    nav ul {
        gap: 20px;
    }

    .nav-link {
        gap: 20px;
    }




    .sign {
        padding: 6px 13.5px;

        font-family: Raleway;
        font-size: 11px;
        font-weight: 800;
        line-height: 13px;
        text-align: center;
        margin-top: -6px;




    }

    .stunning-email .container {

        background-size: 472.06px;

    }




    h1 {
        font-family: Playfair Display;
        font-size: 38px;
        font-weight: 900;
        line-height: 46px;
        text-align: left;
        max-width: 315px;



    }

    .stunning-email p {
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        max-width: 300px;

    }

    .try-now {
        padding: 13px 35px 14px 31px;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;

    }

    .get-demo {
        padding: 13px 21px 14px;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        letter-spacing: 1.2999999523162842px;
        text-align: center;

    }

    .gray-back {
        height: 880px;
        margin-top: -130px;
    }

    .gray-back img {
        transform: translate(-80px, -150px);

    }



    .container .main-top {

        gap: 41px;
        justify-content: center;
        align-items: center;





    }

    .main-top {
        width: 616px;
        height: 409.85px;





    }

    .customers h2 {
        font-family: Playfair Display;
        font-size: 38px;
        font-weight: 900;
        line-height: 51px;
        margin-top: 50px;


    }

    .learn-how {
        padding: 12.44px 24px 14.56px;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;
    }

    .mobil-cards {
        visibility: hidden;
        margin-top: -646px;
    }


    .Services .container {
        display: flex;
        justify-content: center;


        gap: 30px;



    }

    .Services {
        width: 768px;
        height: 692.19px;
        margin-top: 130px;

    }

    .Services .cards {
        display: flex;
        gap: 30px;


    }

    .Services img {
        width: 200px;

    }

    .Services p {
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;

    }

    .cards p {
        max-width: 170px;
    }

    .cards a {
        font-family: Raleway;
        font-size: 12px;
        font-weight: 800;
        line-height: 14px;
        text-align: left;

    }

    .card-one {

        margin-top: 170px;
    }

    .card-two {
        margin-top: 210px;
    }

    .Services .card-one .card-content {
        padding: 17px 25px 32px 20px;
        width: 200px;


    }

    .card-two .card-content {
        padding: 16px 19px 39px 20px;
        width: 200px;
    }


    .compaigns {

        margin-top: 190px;
    }

    .compaigns h2 {
        font-family: Playfair Display;
        font-size: 28px;
        font-weight: 900;
        line-height: 31px;
        text-align: left;
        width: 232px;

    }

    .compaigns p {
        width: 203px;


        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;

    }

    .members .container .member-cards {
        display: flex;

        gap: 10px;




    }

    .members {

        margin-top: -60px;


    }

    .year {
        background-size: 223px;
        height: 157px;

    }




    .member-cards h2 {
        font-family: Raleway;
        font-size: 22px;
        font-weight: 900;
        line-height: 26px;
        text-align: left;

    }

    .member-cards span {
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

        text-align: left;

    }

    .join-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join-section h2 {
        font-family: Playfair Display;
        font-size: 28px;
        font-weight: 900;
        line-height: 36px;
        max-width: 500px;
        text-align: center;

        margin-top: -10px;


    }

    form input {
        padding: 12px 150px 15px 16px;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        text-align: left;

    }

    .join {
        padding: 13px 21.5px 14px;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;

    }

    .subscribe {
        display: flex;
        gap: 17px;
        margin-top: -30px;

    }

    .join-section p {
        font-family: Raleway;
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        margin-right: 429px;
        margin-right: 182px;



    }

    .best-brands h2 {
        font-family: Playfair Display;
        font-size: 28px;
        font-weight: 900;
        line-height: 36px;
        text-align: center;
        max-width: 300px;


    }

    .brands {
        gap: 43px;

    }

    .brands img {
        width: 90px;
    }




    .choose-plan .choose-plan h2 {
        font-family: Playfair Display;
        font-size: 42px;
        font-weight: 900;
        line-height: 56px;
        text-align: center;




    }

    .pick {
        padding: 13px 23px 14px;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;





    }

    .flx-start {
        column-gap: 130px;
        padding-top: 51px;

    }

    footer .logo {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 900;
        line-height: 19px;
        text-align: left;



    }

    .navigation ul li a {
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;


    }

    .navigation {
        gap: 43px;
    }





    .informations {
        padding: 25px 0 30px;

        font-family: Raleway;
        font-size: 9px;
        font-weight: 700;
        line-height: 11px;





    }





}

@media (max-width: 320px) {

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }



    body {
        position: relative;
    }



    nav {
        display: none;
    }

    .d-f {
        justify-content: space-around;
        gap: 10px;


    }



    .logo img {
        margin-right: -20px;
    }



    h1 {
        font-size: 36px;
        max-width: 284px;
        transform: translate(5px, -50px);



    }

    .stunning-email .container {
        background-size: 318.5px;
        max-width: 305px;
    }

    .stunning-email p {
        max-width: 260px;
        transform: translate(5px, 30px);
    }

    .stunning-email a {
        display: inline-block;


    }

    .try-now {
        transform: translate(5px, -10px)
    }

    .get-demo {
        transform: translate(160px, -58px);
    }









    .customers .container {
        height: 600px;
    }

    .customers .container .main-top {
        justify-content: center;
        gap: 20.56px;
        background-size: 310px;
        width: 304px;
        height: 202.26px;

        margin-left: auto;
        margin-right: auto;

    }

    .main-top {
        transform: translate(0, -110px);
    }



    .customers .main-top h2 {
        font-family: Playfair Display;
        font-size: 22px;
        font-weight: 900;
        line-height: 29px;
        margin-top: 0;











    }

    .main-top a {


        padding: 6.44px 13px 7.56px;
        font-family: Raleway;
        font-size: 6px;
        font-weight: 900;
        line-height: 7px;
        letter-spacing: 0.30000001192092896px;
        text-align: center;
        margin-top: 0;



    }





    .gray-back img {
        transform: translate(10px, -130px);
        width: 349px;
        height: 370px;
    }

    .mobil-cards .container {

        margin-top: -680px;
        visibility: visible;

    }

    .mobil-cards .card-one {
        position: relative;
        z-index: 3;
        transform: translate(15px, 15px);



    }

    .mobil-cards img {
        max-width: 290px;
        height: 185px;



    }

    .mobil-cards .card-content {
        height: 128px;
        width: 210px;
        padding: 5px 15px;
        margin-top: -30px;
    }

    .card-content p {
        max-width: 190px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;

        text-align: left;


    }

    .learn-more {
        font-family: Raleway;
        font-size: 12px;
        font-weight: 800;
        line-height: 14px;
        transform: ;
        text-align: left;

    }






    .Services .container {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;






    }

    .Services {

        width: 320px;
        height: 790px;



    }




    .cards {

        display: flex;
        flex-direction: column;

    }


    .Services .card-one {
        display: none;
    }

    .card-two img {
        width: 220px;
    }

    .card-two .card-content {
        width: 220px;
        padding: 16px 19px;
    }


    .card-two p {
        margin-bottom: -5px;
        max-width: 170px;
    }

    .card-two {

        transform: translate(70px, -60px);
    }


    .compaigns {
        transform: translate(30px, -260px);
    }


    .compaigns h2 {
        margin-bottom: 15px;
    }

    .compaigns p {
        max-width: 300px;
    }

    .members {
        position: relative;
        z-index: 10;
    }

    .members .container .member-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 21px;





    }

    .year {
        background-position: center center;

    }

    .year {
        display: flex;
        align-items: center;
        padding: 100px 80px 15px 10px;
    }

    .year h2 {
        margin-right: 40px;
    }

    .member-one {
        margin-top: 10px;
    }



    .join-section h2 {
        font-size: 26px;
        max-width: 239px;
        margin-top: 15px;
    }

    form input {
        padding: 13px 100px 14px 14px;
        margin: 90px 48px 6px;
    }

    .join {
        margin-top: 30px;
        margin-left: 110px;

    }

    .subscribe {
        flex-direction: column;

    }


    .join-section p {
        transform: translate(120px, -100px);
        width: 200px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;


    }
















    .best-brands .container {
        height: 300px;
    }

    .brands {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-top: -10px;
        row-gap: 29px;

    }

    .best-brands h2 {
        max-width: 281px;
        font-size: 26px;
        margin-top: 110px;
    }

    .brand-two img {
        width: 55px;

    }



    .brand-one {
        order: 2;
    }

    .brand-five {
        order: 1;
    }

    .brand-three {
        order: 5;


    }

    .brand-four {
        order: 3;

    }

    .brand-three {

        grid-column: span 2;
        justify-self: center;
    }

    .brand-two {
        grid-column: span 1;
        justify-self: center;
    }


    .choose-plan {
        max-width: 320px;
        height: 290px;
    }

    .choose-plan .container {
        display: flex;
        gap: 50px;




    }

    .choose-plan h2 {
        font-family: Playfair Display;
        font-size: 42px;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
        margin-top: -43px;

    }










    .order-four {
        order: 1;
        transform: translate(0, -30px);

    }

    .order-two {
        order: 2;
    }

    footer {
        padding: 15px 91px 10px 17px;
    }

    .flex-start {
        display: flex;
        flex-direction: column;
        align-items: flex-start;




    }

    footer .logo {


        font-family: Raleway;
        font-size: 16px;
        font-weight: 900;
        line-height: 19px;
        margin-left: -100px;
        margin-bottom: 11px;
        text-align: left;


    }

    .logo img {
        width: 60px;
        margin-right: -10px;

    }

    .navigation {
        display: grid;
        grid-template-columns: repeat(2, 105px);
        column-gap: 10px;
        row-gap: 0px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-align: left;
        color: rgba(0, 0, 0, 1);



    }





    .informations {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: -50px;



    }



}